# Options: LOCAL | REMOTE
MODE=LOCAL

# Email Notification Specific
SENDER_GMAIL=xxxx@gmail.com
GMAIL_PASSWORD=XXXXX
SENDER_DISPLAY_NAME=TestAutomationHub
MAIL_LIST=xxxx1@gmail.com,xxxx2@gmail.com,xxxx3@gmail.com